{{> head}}
{{> top}}
<main class="main main--full">
   {{#if @customHTML.beforePost}}
      <div class="banner banner--before-post">
         {{{@customHTML.beforePost }}}
      </div>
   {{/if}}
   {{#post}}
      <article class="post">

         {{#featuredImage}}
            {{#if url}}
               <figure class="post__featured-image">                      
                  <img
                     src="{{url}}"
                     {{#if @config.site.responsiveImages}}                           
                           {{responsiveImageAttributes 'featuredImage' srcset.post sizes.post}}
                     {{/if}}
                     {{ lazyload "eager" }}
                     height="{{height}}"
                     width="{{width}}"
                     alt="{{alt}}">
                     
                  {{#checkIfAny caption credits}}
                     <figcaption>
                        {{caption}}
                        {{credits}}
                     </figcaption>                      
                  {{/checkIfAny}}                      
               </figure>
            {{/if}}
         {{/featuredImage}}

         <header class="u-header post__header">
            <h1>
               {{title}}
            </h1>
            {{#checkIfAny @config.post.displayDate @config.post.displayAuthor @config.post.displayTagName}}
               <div class="u-header__meta u-small">
                   {{#if @config.post.displayAuthor}}                   
                     {{#author}}
                        {{#if avatar}}
                           <img 
                              src="{{avatarImage.url}}"                                
                              {{ lazyload "eager" }}
                              class="u-header__avatar"
                              alt="{{avatarImage.alt}}" 
                              height="{{avatarImage.height}}" 
                              width="{{avatarImage.width}}">                                 
                        {{/if}}
                     {{/author}}
                  {{/if}}

                  <div>
                     {{#if @config.post.displayAuthor}}
                        {{#author}}
                           <a href="{{url}}" title="{{name}}">{{name}}</a>
                        {{/author}}
                     {{/if}}

                     {{#if @config.post.displayDate}}
                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date createdAt @config.custom.formatDate}}
                           {{else}}
                              {{date createdAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>
                     {{/if}}

                     {{#if @config.post.displayCategoryName}}
                         {{#if mainTag}}
                           <a
                              href="{{mainTag.url}}"
                              class="u-tag u-tag--{{mainTag.slug}}">{{mainTag.name}}</a>                            
                        {{/if}}
                     {{/if}}
                  </div>

               </div>
            {{/checkIfAny}}
         </header>

         <div class="post__entry u-inner">
            {{{text}}}
         </div>

         {{#checkIfAny @config.post.displayLastUpdatedDate @config.post.displayShareButtons}}
            <aside class="post__aside">
               {{#if @config.post.displayLastUpdatedDate}}
                  {{#if modifiedAt}}
                     <div class="post__last-updated u-small">
                        {{ translate 'post.lastUpdatedDate' }}
                        {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                           {{date modifiedAt @config.custom.formatDate}}
                        {{else}}
                           {{date modifiedAt @config.custom.formatDateCustom}}
                        {{/checkIf}}
                     </div>
                  {{/if}}
               {{/if}}
               {{#if @config.post.displayShareButtons}}
                  {{#checkIfAll @plugins.socialSharing @plugins.socialSharing.state}}
                     <div class="post__share">
                        {{{@customSocialSharing}}}
                     </div>
                  {{else}}
                     <div class="post__share">
                        {{> share-buttons}}
                     </div>
                  {{/checkIfAll}}          
               {{/if}}
            </aside>
         {{/checkIfAny}}
         {{#checkIfAny @config.post.displayTags @config.post.displayAuthorBio @config.post.displayPostNavigation @config.post.displayRelatedPosts}}
            <footer class="post__footer">

               {{#if @config.post.displayTags}}
                  {{#if tags}}
                     <ul class="post__tag box">
                        {{#each tags}}
                           <li>
                              <a
                                 href="{{url}}"
                                 class="u-tag u-tag--{{slug}}"
                                 title="{{name}}">{{name}}</a>
                           </li>
                        {{/each}}
                     </ul>
                  {{/if}}
               {{/if}}

               {{#if @config.post.displayAuthorBio}}
                  {{#author}}
                     <div class="post__bio box">
                        {{#if avatar}}
                           <img 
                              class="u-author__avatar"
                              src="{{avatarImage.url}}" 
                              {{ lazyload "lazy" }} 
                              alt="{{avatarImage.alt}}" 
                              height="{{avatarImage.height}}" 
                              width="{{avatarImage.width}}">                
                        {{/if}}
                        <div>
                           {{#if name}}
                              <h4 class="h6">
                                 <a href="{{url}}" title="{{name}}">{{name}}</a>
                              </h4>
                           {{/if}}
                           {{{description}}}     
                        </div>
                     </div>
                  {{/author}}
               {{/if}}

               {{#if @config.post.displayPostNavigation}}
                  {{#checkIfAny ../previousPost ../nextPost}}
                     <nav class="post__nav box">
                        {{#../previousPost}}
                           <div class="post__nav__prev">
                              <a href="{{url}}" class="post__nav__link" rel="prev">
                                 {{#featuredImage}}
                                    {{#if url}}                                   
                                       <img 
                                          {{#if @config.site.responsiveImages}}
                                             src="{{urlXs}}"
                                          {{else}}
                                             src="{{url}}"
                                          {{/if}} 
                                          {{ lazyload "lazy" }}  
                                          alt="{{alt}}" >                                   
                                    {{/if}}
                                 {{/featuredImage}}
                                 <div class="u-small">
                                    {{ translate 'post.previousPost' }}
                                    <h5>
                                       {{title}}
                                    </h5>
                                 </div>
                              </a>
                           </div>
                        {{/../previousPost}}
                        {{#../nextPost}}
                           <div class="post__nav__next">
                              <a href="{{url}}" class="post__nav__link" rel="next">
                                 <div class="u-small">
                                    {{ translate 'post.nextPost' }}
                                    <h5>
                                       {{title}}
                                    </h5>
                                 </div>
                                 {{#featuredImage}}
                                    {{#if url}}                                   
                                       <img 
                                          {{#if @config.site.responsiveImages}}
                                             src="{{urlXs}}"
                                          {{else}}
                                             src="{{url}}"
                                          {{/if}}
                                          {{ lazyload "lazy" }}  
                                          alt="{{alt}}" >                                   
                                    {{/if}}
                                 {{/featuredImage}}
                              </a>
                           </div>
                        {{/../nextPost}}
                     </nav>
                  {{/checkIfAny}}
               {{/if}}

               {{#if @config.post.displayRelatedPosts}}
                  {{#if ../relatedPosts}}
                     <div class="post__related box">
                        <h3 class="box__title">
                           {{ translate 'post.relatedPosts' }}
                        </h3>
                        <div class="post__related-wrap">
                           {{#each ../relatedPosts}}
                              <figure class="post__related-item">
                                  {{#featuredImage}}
                                    {{#if url}}                                       
                                       <a href="{{../url}}" class="c-card__image">
                                          <img 
                                             {{#if @config.site.responsiveImages}}
                                                src="{{urlSm}}"
                                             {{else}}
                                                src="{{url}}"
                                            {{/if}} 
                                             {{ lazyload "lazy" }} 
                                             height="{{height}}"
                                             width="{{width}}"
                                             alt="{{alt}}">
                                       </a>                                     
                                    {{/if}}
                                 {{/featuredImage}}
                                 <figcaption>
                                    <h4 class="post__related-title">
                                       <a href="{{url}}" class="inverse">{{title}}</a>
                                    </h4>
                                    <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}" class="u-small">
                                       {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                          {{date createdAt @config.custom.formatDate}}
                                       {{else}}
                                          {{date createdAt @config.custom.formatDateCustom}}
                                       {{/checkIf}}
                                    </time>
                                 </figcaption>
                              </figure>
                           {{/each}}
                        </div>
                     </div>
                  {{/if}}
               {{/if}}
            </footer>
         {{/checkIfAny}}
      </article>

      {{#if @config.post.displayComments}}
         <div class="comments-area box">
           {{{@commentsCustomCode}}}
         </div>
      {{/if}}

      {{#if @customHTML.afterPost}}
         <div class="banner banner--after-post">
            {{{@customHTML.afterPost}}}
         </div>
      {{/if}}
    
   {{/post}}
</main>
{{> footer}}