{{> head}}
{{> navbar}}
   <main class="main page page--tag">
      <div class="main__left">
         {{#tag}}
            {{#if tagViewConfig.displayFeaturedImage}}
               {{#featuredImage}}
                  {{#if url}}
                     <figure class="hero">
                        <img
                           src="{{url}}"
                           {{#if @config.site.responsiveImages}}
                              {{responsiveImageAttributes 'tagImage' srcset sizes}}
                           {{/if}}
                           {{ lazyload "eager" }}
                           height="{{height}}"
                           width="{{width}}"
                           alt="{{alt}}">

                        {{#checkIfAny caption credits}}
                           <figcaption class="hero__caption">
                              {{caption}}
                              {{credits}}
                           </figcaption>
                        {{/checkIfAny}}
                     </figure>
                  {{else}}
                     {{#checkIfAll @config.custom.uploadHero @config.custom.displayHeroImage}}
                        <figure class="hero">
                           <img
                              src="{{@config.custom.uploadHero}}"
                              {{#if @config.site.responsiveImages}}
                                 {{responsiveImageAttributes @config.custom.uploadHero}}
                              {{/if}}
                              {{ lazyload "eager" }}
                              {{imageDimensions @config.custom.uploadHero}}
                              alt="{{@config.custom.uploadHeroAlt}}">

                           {{#if @config.custom.uploadHeroCaption}}
                              <figcaption class="hero__caption">
                                 {{@config.custom.uploadHeroCaption}}
                              </figcaption>
                           {{/if}}
                        </figure>
                     {{/checkIfAll}}
                  {{/if}}
               {{/featuredImage}}
            {{/if}}
            <header>             
               <h1>{{name}}
                  {{#if tagViewConfig.displayPostCounter}}<sup>({{postsNumber}})</sup>{{/if}}
               </h1>
               {{#if tagViewConfig.displayDescription}} 
                  {{#if description}}
                     <div class="page__desc">{{{description}}}</div>
                  {{/if}}  
               {{/if}}
            </header>
        {{/tag}}
      </div>
      <div class="main__right feed feed--tag">
         <div>
            {{#each posts}}
               <article class="feed__item">
                  <header>
                     <h2>
                        <a href="{{url}}">
                           {{title}}
                        </a>
                     </h2>
                     {{#checkIfAny @config.custom.listingDate @config.custom.listingAuthor}}
                        <div class="post__meta">
                           {{#if @config.custom.listingDate}}
                              <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                 {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                    {{date createdAt @config.custom.formatDate}}
                                 {{else}}
                                    {{date createdAt @config.custom.formatDateCustom}}
                                 {{/checkIf}}
                              </time>
                           {{/if}}
                           {{#if @config.custom.listingAuthor}}
                              {{ translate 'common.publishedBy' }}
                              {{#author}}
                                 <a href="{{url}}">{{name}}</a>
                              {{/author}}
                           {{/if}}
                        </div>
                     {{/checkIfAny}}
                  </header>

                  {{#if hasCustomExcerpt}}
                     {{{ excerpt }}}
                  {{else}}
                     <p>{{{ excerpt }}}</p>
                  {{/if}}

               </article>
            {{/each}}
            {{> pagination}}
         </div>
      </div>
   </main>
{{> footer}}
