{{!
	Theme created by TidyCustoms based on Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 & MIT license (html5up.net/license)
}}
<!DOCTYPE html>
<html lang="{{ @website.language }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {{#if title}}
            <title>{{title}}</title>
        {{else}}
            <title>{{@website.name}}</title>
        {{/if}}
        {{metaDescription}}
        {{metaRobots}} 
        {{{publiiHead}}}
        {{canonicalLink}}
        {{feedLink}}
        {{socialMetaTags}}
		{{#if @config.custom.faviconUpload}}
	        <link rel="shortcut icon" href="{{@config.custom.faviconUpload}}" type="{{@config.custom.faviconExtension}}" />
        {{/if}}
        {{#if @pagination}}
            {{#if @pagination.previousPage}}
                <link rel="prev" href="{{@pagination.previousPageUrl }}">
            {{/if}}
            {{#if @pagination.nextPage}}
                <link rel="next" href="{{@pagination.nextPageUrl }}">
            {{/if}}
        {{/if}}
        {{> fonts}}  
        <link rel="stylesheet" href="{{css "fontawesome-all.min.css" }}">
        <link rel="stylesheet" href="{{css "style.css" }}">
        <noscript><link rel="stylesheet" href="{{css "noscript.css" }}"></noscript>
		{{#is "post"}}
           {{#post}}
              {{#if hasGallery}}
                 <link rel="stylesheet" href="{{css "photoswipe.css" }}">
              {{/if}}
           {{/post}}
        {{/is}}	
        {{#checkIf @config.custom.frontSource '==' "post" }}
           {{#checkIf @config.custom.frontGallery '==' true}}
              {{#is "index"}}
                 <link rel="stylesheet" href="{{css "photoswipe.css" }}">
              {{/is}}
           {{/checkIf}}
        {{/checkIf}}
        {{jsonLD}}
		{{#is "post"}}
           {{#post}}
              {{#if hasGallery}}
		            <style>				
		               {{#checkIf @config.custom.galleryLightboxStyle '==' "pswp--dark" }}
				          .pswp--svg .pswp__button,
				          .pswp--svg .pswp__button--arrow--left:before,
				          .pswp--svg .pswp__button--arrow--right:before {
					          background-image: url({{@website.assetsUrl}}/svg/gallery-icons-light.svg);
			              }
		              {{else}}
			              .pswp--svg .pswp__button,
				          .pswp--svg .pswp__button--arrow--left:before,
				          .pswp--svg .pswp__button--arrow--right:before {
					          background-image: url({{@website.assetsUrl}}/svg/gallery-icons-dark.svg);
			              }		
		              {{/checkIf}}
		            </style>		        
              {{/if}}
           {{/post}}
        {{/is}}
        
        {{#checkIf @config.custom.frontSource '==' "post"}}
          {{#checkIf @config.custom.frontGallery '==' true}}
            {{#is "index"}}
               <style>	
		            {{#checkIf @config.custom.galleryLightboxStyle '==' "pswp--dark" }}
		                 .pswp--svg .pswp__button,
		                 .pswp--svg .pswp__button--arrow--left:before,
		                 .pswp--svg .pswp__button--arrow--right:before {
			                background-image: url({{@website.assetsUrl}}/svg/gallery-icons-light.svg);
		                 }
		            {{else}}
		                 .pswp--svg .pswp__button,
		                 .pswp--svg .pswp__button--arrow--left:before,
		                 .pswp--svg .pswp__button--arrow--right:before {
			                background-image: url({{@website.assetsUrl}}/svg/gallery-icons-dark.svg);
		                 }		
		            {{/checkIf}}
               </style>	
            {{/is}}	
          {{/checkIf}}
        {{/checkIf}} 
        <style>
           #wrapper > .bg {
               background-image: url({{@website.assetsUrl}}/images/overlay.png), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url({{@config.custom.uploadHero}});
           }
        </style>
        <noscript>
            <style>
                img[loading] {
                    opacity: 1;
                }
            </style>
        </noscript>			
        {{{@headCustomCode}}}
    </head>
    <body class="is-preload">
        {{{@bodyCustomCode}}}