<main class="main main--full">
   {{#getPost @config.custom.frontPost}}
      {{#if @customHTML.beforePost}}
         <div class="banner banner--before-post">
            {{{@customHTML.beforePost }}}
         </div>
      {{/if}}
      <article class="post">

         {{#featuredImage}}
            {{#if url}}
               <figure class="post__featured-image">                      
                  <img
                     src="{{url}}"
                     {{#if @config.site.responsiveImages}}                           
                           {{responsiveImageAttributes 'featuredImage' srcset.post sizes.post}}
                     {{/if}}
                     {{ lazyload "eager" }}
                     height="{{height}}"
                     width="{{width}}"
                     alt="{{alt}}">
                     
                  {{#checkIfAny caption credits}}
                     <figcaption>
                        {{caption}}
                        {{credits}}
                     </figcaption>                      
                  {{/checkIfAny}}                      
               </figure>
            {{/if}}
         {{/featuredImage}}

         <header class="u-header post__header">
            <h1>
               {{title}}
            </h1>
            {{#checkIfAny postViewConfig.displayDate postViewConfig.displayAuthor postViewConfig.displayTagName}}
               <div class="u-header__meta u-small">

                  {{#if postViewConfig.displayAuthor}}
                     {{#author}}
                        {{#if avatar}}
                           <img 
                              src="{{avatarImage.url}}"                                
                              {{ lazyload "eager" }}
                              class="u-header__avatar"
                              alt="{{avatarImage.alt}}" 
                              height="{{avatarImage.height}}" 
                              width="{{avatarImage.width}}">                               
                        {{/if}}
                     {{/author}}
                  {{/if}}

                  <div>
                     {{#if postViewConfig.displayAuthor}}
                        {{#author}}
                           <a href="{{url}}" title="{{name}}">{{name}}</a>
                        {{/author}}
                     {{/if}}

                     {{#if postViewConfig.displayDate}}
                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date createdAt @config.custom.formatDate}}
                           {{else}}
                              {{date createdAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>
                     {{/if}}

                     {{#if postViewConfig.displayCategoryName}}
                         {{#if mainTag}}
                           <a
                              href="{{mainTag.url}}"
                              class="u-tag u-tag--{{mainTag.slug}}">{{mainTag.name}}</a>                            
                        {{/if}}
                     {{/if}}
                  </div>

               </div>
            {{/checkIfAny}}
         </header>

         <div class="post__entry u-inner">
            {{{text}}}
         </div>

         {{#if postViewConfig.displayLastUpdatedDate}}
            <aside class="post__aside">
               {{#if modifiedAt}}
                  <div class="post__last-updated u-small">
                     {{ translate 'post.lastUpdatedDate' }}
                     {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                        {{date modifiedAt @config.custom.formatDate}}
                     {{else}}
                        {{date modifiedAt @config.custom.formatDateCustom}}
                     {{/checkIf}}
                  </div>
               {{/if}}
            </aside>
         {{/if}}
         {{#checkIfAny postViewConfig.displayTags postViewConfig.displayAuthorBio}}
            <footer class="post__footer">

               {{#if postViewConfig.displayTags}}
                  {{#if tags}}
                     <ul class="post__tag box">
                        {{#each tags}}
                           <li>
                              <a
                                 href="{{url}}"
                                 class="u-tag u-tag--{{slug}}"
                                 title="{{name}}">{{name}}</a>
                           </li>
                        {{/each}}
                     </ul>
                  {{/if}}
               {{/if}}

               {{#if postViewConfig.displayAuthorBio}}
                  {{#author}}
                     <div class="post__bio box">
                         {{#if avatar}}
                           <img 
                                 class="u-author__avatar"
                                 src="{{avatarImage.url}}" 
                                 {{ lazyload "lazy" }} 
                                 alt="{{avatarImage.alt}}" 
                                 height="{{avatarImage.height}}" 
                                 width="{{avatarImage.width}}">          
                        {{/if}}
                        <div>
                           {{#if name}}
                              <h4 class="h6">
                                 <a href="{{url}}" title="{{name}}">{{name}}</a>
                              </h4>
                           {{/if}}
                           {{{description}}}     
                        </div>
                     </div>
                  {{/author}}
               {{/if}}

            </footer>
         {{/checkIfAny}}
      </article>

      {{#if postViewConfig.displayComments}}
         <div class="comments-area box">
            {{{@commentsCustomCode}}}
         </div>
      {{/if}}

      {{#if @customHTML.afterPost}}
         <div class="banner banner--after-post">
            {{{@customHTML.afterPost}}}
         </div>
      {{/if}}
   {{/getPost}}
</main>