{{> head}}
{{> navbar}}
   <main class="main">
      {{#post}}
         <article class="post">
            <div class="main__left">
               {{#featuredImage}}
                  {{#if url}}
                     <figure class="hero">
                        <img
                           src="{{url}}"
                           {{#if @config.site.responsiveImages}}
                              {{responsiveImageAttributes 'featuredImage' srcset sizes}}
                           {{/if}}
                           {{ lazyload "eager" }}
                           height="{{height}}"
                           width="{{width}}"
                           alt="{{alt}}">

                        {{#checkIfAny caption credits}}
                           <figcaption class="hero__caption">
                              {{caption}}
                              {{credits}}
                           </figcaption>
                        {{/checkIfAny}}
                     </figure>
                  {{else}}
                     {{#checkIfAll @config.custom.uploadHero @config.custom.displayHeroImage}}
                        <figure class="hero">
                           <img
                              src="{{@config.custom.uploadHero}}"
                              {{#if @config.site.responsiveImages}}
                                 {{responsiveImageAttributes @config.custom.uploadHero}}
                              {{/if}}
                              {{ lazyload "eager" }}
                              {{imageDimensions @config.custom.uploadHero}}
                              alt="{{@config.custom.uploadHeroAlt}}">

                           {{#if @config.custom.uploadHeroCaption}}
                              <figcaption class="hero__caption">
                                 {{@config.custom.uploadHeroCaption}}
                              </figcaption>
                           {{/if}}
                        </figure>
                     {{/checkIfAll}}
                  {{/if}}
               {{/featuredImage}}

               <header>
                  <h1>{{title}}</h1>
                  {{#checkIfAny @config.post.displayDate @config.post.displayAuthor}}
                     <p>
                        {{#if @config.post.displayDate}}
                           <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                              {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                 {{date createdAt @config.custom.formatDate}}
                              {{else}}
                                 {{date createdAt @config.custom.formatDateCustom}}
                              {{/checkIf}}
                           </time>
                        {{/if}}
                        {{#if @config.post.displayAuthor}}
                           {{ translate 'common.publishedBy' }}
                           {{#author}}
                              <a href="{{url}}" rel="author" title="{{name}}">{{name}}</a>
                           {{/author}}
                        {{/if}}
                     </p>
                  {{/checkIfAny}}
               </header>
            </div>
            <div class="main__right">
               {{#if @customHTML.beforePost}}
                  <div class="banner banner--before-post">
                     {{{@customHTML.beforePost}}}
                  </div>
               {{/if}}
               <div class="post__entry">
                     {{{text}}}
                     
                     {{#checkIfAny @config.post.displayTags @config.post.displayShareButtons  @config.post.displayAuthorBio}}
                     <footer>

                        {{#checkIfAny @config.post.displayTags @config.post.displayShareButtons}}
                           <div class="post__tag-share">

                              {{#if @config.post.displayTags}}
                                 {{#if tags}}
                                    <ul class="post__tag">
                                       {{#each tags}}
                                          <li>
                                             <a href="{{url}}">{{name}}</a>
                                          </li>
                                       {{/each}}
                                    </ul>
                                 {{/if}}
                              {{/if}}

                              {{#if @config.post.displayShareButtons}}
                                 {{#checkIfAll @plugins.socialSharing @plugins.socialSharing.state}}
                                    <div class="post__share">
                                       {{{@customSocialSharing}}}
                                    </div>
                                 {{else}}
                                    <div class="post__share">
                                       {{> share-buttons}}
                                    </div>
                                 {{/checkIfAll}}          
                              {{/if}}

                           </div>
                        {{/checkIfAny}}

                        {{#if @config.post.displayAuthorBio}}
                           {{#author}}
                              <div class="post__bio">
                                 {{#if avatar}}
                                    <img 
                                       src="{{avatarImage.url}}" 
                                       {{ lazyload "lazy" }}
                                       height="{{avatarImage.height}}"
                                       width="{{avatarImage.width}}" 
                                       alt="{{avatarImage.alt}}">
                                 {{/if}}
                                 {{#if name}}
                                    <h3>
                                       <a href="{{url}}" title="{{name}}">{{name}}</a>
                                    </h3>
                                 {{/if}}
                                 {{#if description}}
                                    <div class="post__bio-desc">
                                       {{{description}}}
                                    </div>
                                 {{/if}}
                              </div>
                           {{/author}}
                        {{/if}}
                     </footer>
                  {{/checkIfAny}}
               </div>
            </div>
         </article>

         {{#checkIfAny @config.post.displayComments @customHTML.afterPost}}
            <div class="main__right">
               {{#if @config.post.displayComments}}
                 {{{@commentsCustomCode}}}
               {{/if}}
               {{#if @customHTML.afterPost}}
                  <div class="banner banner--after-post">
                     {{{@customHTML.afterPost}}}
                  </div>
               {{/if}}
            </div>
         {{/checkIfAny}}

      {{/post}}
   </main>
   {{> footer}}
